<div id="sidebar">
    <center><div class="socialbar facebook ">
      <a class="anc" href="https://www.facebook.com/legalSquaremultipurposeassociation/" target="_blank">
        <p class="pnc">Like on Facebook <i  class="inc fa fa-facebook "></i> </p>
      </a>
    </div>
    <div class="socialbar instagram  ">
        <a class="anc"  href=" https://www.instagram.com/legalsquare" target="_blank">
          <p class=" pnc">Follow here insta <i class="  inc fa fa-instagram " ></i> </p>
        </a>
    </div>
    <div class="socialbar twitter ">
        <a class="anc" href=" https://www.twitter.com/ " target="_blank">
          <p class="pnc">Follow on Twitter<i  class="inc fa fa-twitter"></i> </p>
        </a>
    </div>
  </center>
</div>
