<%- include('partials/header')%>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 pos" src="/stimg/lsposter.jpg" alt="legalsquare">
      </div>
    </div>
  </div>
  <section class="getknow setfont">
    <div class="container">
      <div style="color: #66FCF1;">
        <h3 style="font-weight: 500;"> Let's get know... </h3>
        <h1 style="font-weight: bold;">About Legal Square</h1>
      </div>
      <hr class="fancy-line">
      <div class="row">
        <div class="col-12  col-md-6 col-lg-4 d-flex">
          <div class="cards" style="background-color: #4885ed;">
            <figure >
              <img class="corn" src="/stimg/cardlogo.png" alt="legalsquare">
            </figure>
            <div style="color: #000; ">
             <h2 style="font-size: 2rem;font-weight: bold;">What is Legal Square Association?</h2>
             <p  style="font-size: 1.2rem;text-align:justify ;">The Legal Square Multipurpose Association is a student-affiliated organization that works primarily in the field of public awareness.  Ordinary citizens at the bottom of the society should be aware of their rights. At the same time, there is a situation<span id="dots">...</span><span id="rm">in the society today where ordinary citizens have no knowledge of any kind of law.  In such a situation, the law that was made for his protection becomes his enemy and following this situation, Legal Square was established to change this situation somewhere.  Through this, legal help is given to the people.</span>  </p> 
             <button onclick="readm()" class=" btn-dark"id="btn">Read more</button>
            </div>
          </div>
        </div>
  
        <div class="col-12  col-md-6 col-lg-4 d-flex">
          <div class="cards" style="background-color: #db3236;">
            <figure  >
              <img  class="corn" src="/stimg/cardlogo.png" alt="legalsquare">
            </figure>
            <div style="color: #000; ">
             <h2 style="font-size: 2rem;font-weight: bold;">Our Purpose 
             and Mission</h2>
             <p style="font-size: 1.2rem;text-align:justify ;">To provide legal, health and educational awareness to the general public around us as well as free legal advice, to educate needy students, to work for their intellectual development, to dispel the illusions<span id="dots3">...</span>     <span id="rm3"> of women about menstruation in remote areas  No and rights to the elderly  Of small businesses by helping to establish or put in front of goal to help the economic development was the work of the Organization in 2016.</span></p> 
             <button class="btn-dark" id="btn3" onclick="readm3()">Read More</button>
            </div>
          </div>
        </div>
  
        <div class="col-12  col-md-6 col-lg-4 d-flex">
          <div class="cards" style="background-color: #f4c20d;">
            <figure  >
              <img  class="corn" src="/stimg/cardlogo.png" alt="legalsquare">
            </figure>
            <div style="color: #000; ">
             <h2 style="font-size: 2rem;font-weight: bold;">History </h2>
             <p style="font-size: 1.2rem; text-align:justify ;">Suraj Jamthe, the founding president of the organization, is from a rural area and was closely associated with all the problems in the village.  In school life, he had a similar interest in various social activities.  In 2014, he took admission in Dr. Punjabrao Law College Amt. In L.L.B course and from that<span id="dots2">...</span><span id="rm2"> he saw a new opportunity.  Within a few days, he came in contact with Priyanta Rajnekar, the founding secretary of the organization. She too had a keen interest in social work.<br>Then the question arose as to what the name should be. After many such meetings, the name "Legal Square" was unanimously agreed. Why Legal Square?  So it means in Marathi that the framework of the law is as many living beings on this earth as are divided into different religions.  But the law is the one that holds everyone together.  That's how Legal Square was founded.  With the hard work of many, in addition to the following founding members, this Legal Square has taken on a bigger shape today.</span> </p> 
             <button class="btn-dark" id="btn2" onclick="readm2()">Read More</button>
            </div>
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex ">
          <div class="cardsbody " style="background-color: #3fc0e7;">
            <div class="headcard">
              <h2 style="font-size: 2rem;font-weight: bold;">Foundation Body</h2>
              <hr class="fancy-line-2">
            </div>
            <div>
              <p style="font-size: 1.2rem;">
                <ul style="text-align: left;">
                  <li>Adv.  Suraj Jamathe - President</li>
                  <li>Mr.  Prashak Maheshwar - Vice President</li>
                  <li>Adv.  Priyanka Rajnekar - Secretary</li>
                  <li>Adv.  Sushma Raibole - Assistant Secretary</li>
                  <li>Adv.  Ankush Nachane - Treasurer</li>
                  <li>Adv.  Dattaram Mudgade - Member</li>
                  <li>Ms.  Apeksha Landge - Member. </li>
                  <li>Adv.  Vaidehi Mohire - Member</li>
                   <li>Adv.  Rasika Uke - Member</li>
                   <li>Adv.  Sumit Gawli - Member</li>
                   <li>Adv.  Nikita Solanki - Member</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="cardsbody " style="background-color: #3cba54;">
            <div class="headcard">
              <h2 style="font-size: 2rem;font-weight: bold;">Executive Body</h2>
              <hr class="fancy-line-2">
            </div>
            <div>
              <p style="font-size: 1.2rem;" >
                <ul style="text-align: left;" >
                <li class="pb-2">Adv.  Suraj Jamathe - President</li>
                <li class="pb-2">Dr.  Umesh Kapte - Vice President</li>
                <li class="pb-2">Adv.  Priyanka Rajnekar - Secretary</li>
                <li class="pb-2">Aditya Satke - Assistant Secretary</li>
                <li class="pb-2">Ankush Nachne - Treasurer</li>
                <li class="pb-2">Adv.  Dattaram Mudgade - Member</li>
                <li class="pb-2">Ashish Metkar - Member</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="cardsbody " style="background-color: #ff6600;">
            <div class="headcard">
              <h2 style="font-size: 2rem;font-weight: bold;">Future Plan</h2>
              <hr class="fancy-line-2">
            </div>
            <div>
              <p style="font-size: 1.2rem;">
                <ul style="list-style-type: none; text-align: left;" class="pl-3">
                 <li>1) To set up a free legal guidance cell in each taluka.</li>
                 <li>2) Establish a college for poor students.</li>
                 <li>3) Establish a practitioner for the state service students.</li>
                 <li>4) To Provide food for only 9 Rs at Irvine and Amravati District Women's Hospital in Amravati. </li>
                 <li>5) To provide the poor people with clothes and other items through this project  <b> "एक हात मदतीचा" </b>. </li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer')%>