<%- include('partials/header') %>
<div class="container setfont" >
        <div style="text-align: center; color: chartreuse" class="mt-1">  
                <h2> Legal Square Contacts </h2>
                <hr class="fancy-line-3">
            </div>
                <div class=" card newCard mb-5" >
                        <div class="card-header " style="font-size: 1.2rem;">Adv. Suraj Jamthe (President)</div>
                        <div class="card-body pt-1 pb-1 pl-1 pr-1">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item setpd"><span class="material-icons mr-2" style="font-size:24px;">add_ic_call</span>
                                    +91 - 8668357763<br>
                                </li>
                                <li class="list-group-item setpd"><span class="material-icons mr-2" style="font-size:24px;">email</span>
                                    surajjamthe69@gmail.com
                                </li>
                                </ul>  
                        </div>
                    </div>
                    <div class=" card newCard mb-5" >
                            <div class="card-header " style="font-size: 1.2rem;">Adv. Priyanka Rajnekar (Secretary)</div>
                            <div class="card-body pt-1 pb-1 pl-1 pr-1">
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item setpd"><span class="material-icons mr-2" style="font-size:24px;">add_ic_call</span>
                                        +91 - 9970271664
                                    </li>
                                    <li class="list-group-item setpd"><span class="material-icons mr-2" style="font-size:24px;">email</span>
                                        rajnekar60@gmail.com
                                    </li>
                                    </ul>  
                            </div>
                        </div>
                        <div class="card newCard mb-5" >
                                <div class="card-header " style="font-size: 1.2rem;">Aditya Satke (Vice-Secretary)</div>
                                <div class="card-body pt-1 pb-1 pl-1 pr-1">
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item setpd"><span class="material-icons mr-2" style="font-size:24px;">add_ic_call</span>
                                            +91 - 9309944973
                                        </li>
                                        <li class="list-group-item setpd"><span class="material-icons mr-2" style="font-size:24px;">email</span>
                                            adityasatke768@gmail.com
                                        </li>
                                        </ul>  
                                </div>
                            </div>
        
                            
</div>

<div  class="container setfont" >
    <div style="text-align: center; color: chartreuse" class="">
        <h2> Joined Members List (Only For Admin) </h2>
        <hr class="fancy-line-3">
    </div>
    <center><button  class="btn btn-primary mb-2"><a  style="color: blanchedalmond;"href="/members">Joined Members Data</a></button></center>
</div>

<%- include('partials/footer') %>